.container{
    /*padding-top:4px;*/
}
.left{
    width: 66vw;
}
.right{
    width: 46vw;
}
.header{
    font-weight:900;
    height:62px;
    margin:24px;
    margin-left: 40px;
    font-size: 20px;
}
.AppName{
    margin-right:134px;
    width: 12vw;
    font-family: Cochin, Georgia,serif   ;
    font-size: 23px;
    color:rgb(14, 162, 65)
    
}
.buttons{
    padding-top: 5px;
    width:31vw;
}
.home{
    margin-right: 15px;
    border:none;
    background-color: white;
    font-size: 16px;
    ;
}
.about{
    margin-right: 15px;
    border:none;
    background-color: white;
    font-size: 16px;
}
.services{
    margin-right: 15px;
    border:none;
    background-color: white;
    font-size: 16px;
}
.contact-us{
    margin-right: 15px;
    border:none;
    background-color: white;
    font-size: 16px;
}
.heading1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font:900;
    font-size: 48px;
    margin: 28px;
    margin-left:40px;
    width: 40vw;
}
.heading2{
    font-size:18px;
    margin: 28px;
    margin-left:40px;
    width: 52vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.buttons2{
    padding-top:25px;
}
.sign-up{
    background-color: white;
    color:black;
    font-weight: bold;
    border-radius:28px;
    width:140px;
    cursor: pointer;
    font-size:16px;
    margin-left: 280px;
    padding:8px;
}
.sign-up:hover{
    font-size: 17px;
    color: rgb(238, 155, 46);
}
.img-label{
    padding-top: 55px;
}